<h1> <%= @restaurants.name %> </h1>
<p>
  <span> <%= @restaurants.street %>, <%= @restaurants.city %> </span>
</p>
<p>
  <span> <%= @restaurants.state %>, <%= @restaurants.country %> <%= @restaurants.postal_code %> </span>
</p>
