<h1> <%= @restaurant.name %> </h1>
<p>
  <span> <%= @restaurant.street %>, <%= @restaurant.city %> </span>
</p>
<p>
  <span> <%= @restaurant.state %>, <%= @restaurant.country %> <%= @restaurant.postal_code %> </span>
</p>
